.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    margin-bottom: 30px;
}

.search-area {
    text-align: right;

    button {
        margin-left: 8px;
    }
}

.yellow-button {
    background-color: #FFFF99;
    color: black;
    border: 1px solid #f9f97e;
}

.red-button {
    background-color: #FF9999;
    color: black;
    border: 1px solid #de3a3a;
}