<nz-layout>
  <nz-header nzTheme="light">
    <div nz-row class="header">
      <div nz-col nzSpan="4">
        <h2 nz-typography>EM</h2>
      </div>
      <div nz-col nzSpan="16"></div>
      <div nz-col nzSpan="4">
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu" style="margin-top: -1px !important">
          <li nz-menu-item class="logout" (click)="logout()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>
            Logout
          </li>
        </ul>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzTitle="Reports" [nzSelected]="activePage.startsWith('/employees') || activePage.startsWith('/home')" (click)="openPage('/employees')">
          <i nz-icon nzType="alert"></i>
          <span>Employees</span>
        </li>

      </ul>
    </nz-sider>
    <nz-layout>
      <div class="inner-layout">
        <router-outlet></router-outlet>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>
